*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.contatiner{
  width: 100%;
  min-height: 100vh;
  padding:  auto 8% auto 8%;
  box-sizing: border-box;
  overflow: hidden;

}
/*==============
====Div NavBar==
===============*/
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
/*==============
====Logo Class==
===============*/
.logo{
width: 50px;
cursor: pointer;
margin: 30px 0;
}
/*===============
===Menu Class====
=================*/
.menu-icon{
width: 25px;
cursor: pointer;
}
/*===============
===Nav Class=====
=================*/
nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: #8B0000;
}

/*=============
====Row Class==
===============*/

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col1 h2{
  font-size: 54px;
}
.col1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
button{
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
}
button:hover img{
  display: block;
}
button:hover{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}
/*================
===COL 2 ========*/

.col2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.nc{
  width: 75%;
}
.colorbox{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 70%;
  z-index: -1;
}

.impuestos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  padding: 10px;
}

.check{
  max-width: 10%;
  height: 50px;
justify-content: center;
}
